.venv/
__pycache__/
*.py[cod]
.pytest_cache/
# data/
logs/
build/
mlflow_data/
mlflow_server/
mlruns/
postgres_data/
.env
*.egg-info/
dist/

.DS_Store
.dvc/cache/
.dvc/tmp/
.dvc/config.local
data/raw/winequality-red.csv
data/dvc_basic/
data/dvc_scaled/
data/dvc_aggregated/
data/reports/
data/dvc_reports/
models/
data/interim/
data/processed/
data/folds/
data/reports/mlflow_server/
dvclive/plots/
secrets/
*.json
